body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Futura;
    overflow: hidden;
    /* font-weight: 500; */
}

.container {
    width: 100%;
    height: 100%;
    background: url('mountain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-panel {
    width: 72%;
    height: 100%;
    /* float: left; */
    /* background-color: white; */
    /* padding: 5%; */
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-bottom: 2%; */
    
    /* background-position-y: 100%; */
    /* background-position: 50% 50%; */

    /* background-blend-mode:ow ; */
    color: white;
}

.quick-links {
    width: 95%;
    height: 50%;
    /* margin-bottom: 30px; */
    margin: auto;
    color:white;
}

.quick-links h2 {
    margin-block-start: unset;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.side-panel {
    width: 28%;
    height: 100%;
    float: right;
    background: rgba(0, 0, 0, 0.2)
}

.greeting {
    font-size: 2em;
}

.quote {
    padding-top: 7%;
}

.quote h1 {
    font-size: 2em;
}

.main-panel-top {
    height: 85%;
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.main-panel-bottom {
    height: 10%;
    width: 100%;
    float: left;
}

.time {
    width: 47%;
    height: 100%;
    float: left;
    padding-left: 3%;
}

.date {
    width: 47%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 3%;
}

@font-face {
    font-family: Futura;
    src: url(futura/Futura\ Book\ font.ttf);
}

.quick-links-table {
    width: 100%;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    /* padding: 15px; */
}

.quick-links-table img {
    clear: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.quick-links-table td p {
    text-align: center;
    margin-block-start: 10px;
}

.quick-links-table img:hover{
    /* background-color: #333333; */
    border-radius: 10px;
    transform: scale(1.3);
}


.prayer-times {
    width: 50%;
    margin: auto;
    text-align: center;
    color:white;
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 4em;
    padding-bottom: 1em;
    font-size: large;
    /* padding-left: 5em;
    padding-right: 0em; */
}

  /* #prayer-times-table {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: left;
    width: 5cm
} */

#prayer-times-table tr {
    border-top: solid;
    line-height: 35px;
    width: auto;
    text-align: left;
}

.prayer-times-table-title {
    white-space: nowrap;
    text-align: center;
    line-height: 15px;
    width: 105px;
}

.prayer-times-table-title, .prayer-times-table-heading {
    border-top: unset !important;
    border-bottom: unset !important;
}

.prayer-times-table-heading {
    color:white
}

/* #prayer-times-table .prayer-times-table-warning {
    /* line-height: 0px !important; */
    /* line-height: 5px !important; */
/* } */

/* .prayer-times-table-warning u {
    font-size: xx-small;
} */

/* .prayer-times-table-warning p {
    margin-block-start: unset;
}

.prayer-times-table-warning td {
    padding: 20px;
} */

.prayer-times-table-row td {
    padding-left: 20px;
}

.athan-column {
    text-align: center;
    width: 0.1%;
}

#change-button {
    font-size: x-small;
    cursor: pointer;
    color: unset;
}